registry "https://nexus-infra.mint.ukho.gov.uk:8443/repository/mint-npm/"
sass_binary_site "https://nexus-infra.mint.ukho.gov.uk:8443/repository/node-sass-releases"
cafile "dev/certs/ca-certificates.crt"
